:root {
    --charcoal-main: #2C2C2C;
    --burnt-orange: #F2994A;
    --clay-taupe: #D1C4B7;
    --soft-sand: #F7F4EF;
    --ash-gray: #3F3F3F;
}

main {
    font-family: sans-serif;
    background: var(--charcoal-main);
}

section {
    width: 100%;
    display: grid;
    text-align: center;
}

.title {
    height: 40vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1vh;
}

.title img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    margin: 4.5vh auto;
    border: var(--soft-sand) solid 5px;
    background: var(--soft-sand);
}

.title-text {
    
}

.cards {
    height: 60vh;
    border-top: solid 1px var(--clay-taupe);
}

.cardgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5vh;
    margin: 0 auto;
    margin: 1rem;
}

.cardgrid div {
    border-radius: 10px;
    margin: 5vh;
    transition: transform 0.3s;
}