main {
    height: 60vh;
}

main section {
    position: relative;
    border-bottom: solid 5px white;
}

main section div {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}