main {

    background-color: var(--ash-gray);
}

h1 {
    color: var(--burnt-orange);
    text-align: center;
    margin-top: 20px;
}

main section {
    height: 80vh;
    border: solid 5px white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    padding: 3rem;
}

main section div {
    text-align: center;
    height: 100%;
    border: solid 1px white;
}